<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.dmmunoz.mifamilia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mifamilia"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mifamilia"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".comprobacionEmail"></activity>
        <activity android:name=".AfterSingout" />
        <activity android:name=".recuperarPassword" />
        <activity android:name=".condiciones" />
        <activity android:name=".Singup" />
        <activity android:name=".Home" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>